button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 18px 39.5px;
    color: var(--button-color);
    background: var(--button-background);
    border-radius: 40px;
    border: none;

    font-size: 30px;
    line-height: 36px;
    font-weight: 900;
    cursor: pointer;
    width: 100%;

    @media (max-width: 1120px) {
        font-size: 25px;
    }

    @media (max-width: 320px) {
        font-size: 22px;
        line-height: 20px;
        width: auto;
    }
}

button:hover {
    background: var(--button-hover);
}

button:focus {
    background-color: #575757;
}

button:disabled {
    opacity: 0.4;
}