.wrapper {
    width: 100%;
    position: relative;
}

.input_element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--background);

    padding: 14px 24px;
    width: 100%;
    border: 2px solid var(--background);
    border-radius: 16px;

    font-size: 30px;
    color: #575757;
    font-weight: 900;
    font-family: 'Nekst', sans-serif;
}

.input_element:focus-visible {
    border: 2px solid #F3F3F4;
    background: #ffffff;
    border-radius: 16px;
    outline: none;
}

.slidecontainer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
}

input[type="range"] {
    width: 90%;
}


input[type='range'] {
    -webkit-appearance: none;
    height: 2px;
    background: #E1E1E1;
    border-radius: 5px;
    background-image: linear-gradient(#FF9514, #FF9514);
    background-repeat: no-repeat;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #FF9514;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}


input[type="range"]::-webkit-slider-thumb:hover {
    height: 24px;
    width: 24px;
    cursor: grab;
}

input[type="range"]:active::-webkit-slider-thumb {
    cursor: grabbing;
}