.app {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1440px) {
        display: block;
    }
}

.app__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    height: 850px;
    padding: 48px;
    max-width: 1440px;

    @media (max-width: 1120px) {
        height: auto;
        gap: 44px;
        padding: 64px 36px 36px;
    }

    @media (max-width: 768px) {
        padding: 40px 20px 20px;
        gap: 0
    }
}

.app__label {
    width: 60%;

    @media (max-width: 1120px) {
        margin-bottom: 32px;
        width: 90%;
    }

    @media (max-width: 768px) {
        margin-bottom: 32px;
    }
}

.app__parent-element {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 50px;

    @media (max-width: 1120px) {
        display: flex;
        flex-direction: column;
        grid-row-gap: 44px;
    }

    @media (max-width: 768px) {
        grid-row-gap: 25px;
    }
}

.app__amount-element {
    grid-area: 2 / 1 / 3 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 32px;

    @media (max-width: 1120px) {
        display: flex;
        flex-direction: row;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 30px;
    }
}

.app__amount-column {
    @media screen and (min-width: 768px) and (max-width: 1120px) {
        width: 345px;
    }
}

.app__amount-column-label {
    padding-bottom: 8px;

    @media (max-width: 768px) {
        padding-bottom: 2px;
    }
}

.app__amount {
    color: #333333;

    @media (max-width: 768px) {
        font-size: 22px;
        line-height: 20px;
    }
}

.app__button {
    @media (max-width: 768px) {
        margin-top: 8px;
    }
}

.app__car-price-input {
    padding: 15px 17px;
}

.app__initial-fee-input {
    background: #EBEBEC;
    padding: 15px 17px;
    border-radius: 16px;

    @media (max-width: 768px) {
        padding: 14px;
    }
}

.app__leasing-term-input {
    padding: 14px;
}